body {
    font-family: 'Lato','sans-serif','segoe ui';
    color: #777;
}

.row {   
    background-color: #cecece;
    color : #fff;
    text-align: center;
    font-size: 1.2rem;
}

[class^="col-"] {
    background-color: rgba(240, 29, 127, 0.815);
}