*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Lato','sans-serif','segoe ui';
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  text-rendering: optimizeLegibility; }
  @media only screen and (max-width: 768px) {
    body {
      padding: 1rem; } }

.row {
  max-width: 114rem;
  background-color: #cecece;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 1.2rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 768px) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 2rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media only screen and (max-width: 768px) {
      .row .col-1-of-2 {
        width: calc((100% - 2rem) / 2); } }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem)); }
  .row .col-1-of-5 {
    width: calc((100% - (4 * 6rem)) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - (4 * 6rem)) / 5) + 6rem); }
  .row .col-3-of-5 {
    width: calc( 3 * (100% - (4 * 6rem)) / 5 + (2 * 6rem)); }
  .row .col-4-of-5 {
    width: calc(4 * (100% - (4 * 6rem)) / 5 + (3 * 6rem)); }
  .row .col-1-of-6 {
    width: calc((100% - (5 * 6rem)) / 6); }
  .row .col-2-of-6 {
    width: calc(2 * (100% - (5 * 6rem)) / 6 + 6rem); }
  .row .col-3-of-6 {
    width: calc(3 * (100% - (5 * 6rem)) / 6 + (2 * 6rem)); }
  .row .col-4-of-6 {
    width: calc(4 * (100% - (5 * 6rem)) / 6 + (3 * 6rem)); }
  .row .col-5-of-6 {
    width: calc(5 * (100% - (5 * 6rem)) / 6 + (4 * 6rem)); }
  .row .col-1-of-7 {
    width: calc((100% - (6 * 6rem)) / 7); }
  .row .col-2-of-7 {
    width: calc(2 * (100% - (6 * 6rem)) / 7 + 6rem); }
  .row .col-3-of-7 {
    width: calc(3 * (100% - (6 * 6rem)) / 7 + (2 * 6rem)); }
  .row .col-4-of-7 {
    width: calc(4 * (100% - (6 * 6rem)) / 7 + (3 *6rem)); }
  .row .col-5-of-7 {
    width: calc(5 * (100% - (6 * 6rem)) / 7 + (4 *6rem)); }
  .row .col-6-of-7 {
    width: calc(6 * (100% - (6 * 6rem)) / 7 + (5 *6rem)); }
  .row .col-1-of-8 {
    width: calc((100% - (7 * 6rem)) / 8); }
  .row .col-2-of-8 {
    width: calc(2 * (100% - (7 * 6rem)) / 8 + 6rem); }
  .row .col-3-of-8 {
    width: calc(3 * (100% - (7 * 6rem)) / 8 + (2 * 6rem)); }
  .row .col-4-of-8 {
    width: calc(4 * (100% - (7 * 6rem)) / 8 + (3 * 6rem)); }
  .row .col-5-of-8 {
    width: calc(5 * (100% - (7 * 6rem)) / 8 + (4 * 6rem)); }
  .row .col-6-of-8 {
    width: calc(6 * (100% - (7 * 6rem)) / 8 + (5 * 6rem)); }
  .row .col-7-of-8 {
    width: calc(7 * (100% - (7 * 6rem)) / 8 + (6 * 6rem)); }
  .row .col-1-of-9 {
    width: calc((100% - (8 * 6rem)) / 9); }
  .row .col-2-of-9 {
    width: calc(2 * (100% - (8 * 6rem)) / 9 + 6rem); }
  .row .col-3-of-9 {
    width: calc(3 * (100% - (8 * 6rem)) / 9 + (2 * 6rem)); }
  .row .col-4-of-9 {
    width: calc(4 * (100% - (8 * 6rem)) / 9 + (3 * 6rem)); }
  .row .col-5-of-9 {
    width: calc(5 * (100% - (8 * 6rem)) / 9 + (4 * 6rem)); }
  .row .col-6-of-9 {
    width: calc(6 * (100% - (8 * 6rem)) / 9 + (5 * 6rem)); }
  .row .col-7-of-9 {
    width: calc(7 * (100% - (8 * 6rem)) / 9 + (6 * 6rem)); }
  .row .col-8-of-9 {
    width: calc(8 * (100% - (8 * 6rem)) / 9 + (7 * 6rem)); }
  .row .col-1-of-10 {
    width: calc((100% - (9 * 6rem)) / 10); }
  .row .col-2-of-10 {
    width: calc(2 * (100% - (9 * 6rem)) / 10 + 6rem); }
  .row .col-3-of-10 {
    width: calc(3 * (100% - (9 * 6rem)) / 10 + ( 2 * 6rem)); }
  .row .col-4-of-10 {
    width: calc(4 * (100% - (9 * 6rem)) / 10 + ( 3 * 6rem)); }
  .row .col-5-of-10 {
    width: calc(5 * (100% - (9 * 6rem)) / 10 + ( 4 * 6rem)); }
  .row .col-6-of-10 {
    width: calc(6 * (100% - (9 * 6rem)) / 10 + ( 5 * 6rem)); }
  .row .col-7-of-10 {
    width: calc(7 * (100% - (9 * 6rem)) / 10 + ( 6 * 6rem)); }
  .row .col-8-of-10 {
    width: calc(8 * ((100% - (9 * 6rem)) / 10) + (7 * 6rem)); }
  .row .col-9-of-10 {
    width: calc(9 * (100% - (9 * 6rem)) / 10 + ( 8 * 6rem)); }
