html {
    font-size : 62.5%;
}

body {
    font-family: 'Lato','sans-serif','segoe ui';
    color: #777;
    padding : 0;
    font-weight: 400;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    
}

.container {
    margin : 2rem;
}



.row {   
    background-color: #fff;
    color : #fff;
    text-align: center;
    font-size: 1.2rem;
    width : 100%;
}

[class^="col-"]{
    background-color: rgba(240, 29, 127, 0.815);
    height: 3rem;
    border-radius: 2px;
    padding-top: .5rem;
}

.header {
    font-family: 'Lato','segoe ui';
    font-size: 3rem;
    text-align : center;
    color : rgba(240, 29, 127, 0.99); 
    width : 30%;
    margin : 0 auto;
    margin-bottom : 5rem;
    padding : 0.3rem; 
    cursor: pointer;  
    transition: all .1s;
}

.header:hover {
    transform: skewY(5deg) skewX(10deg) scale(1.1);
}



.header__text {
    text-align: center;
    color: rgba(240, 29, 127, 0.65)
}
.header__text-main {
    font-size: 1.8rem;
}
.header__text-sub {

    font-size: 1.6rem;
}

.header__download-btn {
    display: block;
    text-align: center;
    border : 1px solid rgb(190, 28, 90);
    border-radius: 25px;
    width : 20%;
    margin : 4rem auto;
    padding : 1rem;
    background-color: linear-gradient(#f4f4,#000);
    cursor: pointer;
    transition: all .2s;
    
}
.header__download-btn  {
    text-decoration: none;
    color : rgba(240, 29, 127, 0.815);
    font-size: 1.5rem;
}

.header__download-btn:hover,
.header__download-btn:active {
    background-color: rgba(240, 29, 127, 0.99);
    color: #fff;
}
.header__download-btn:active {
    transform: translateY(2px);
}

img.carbon {
    width: 60%;
    margin: 3rem auto;
    margin-top: 0;
    display: block;
}
p.usage {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
}


a.fork img {
    position: absolute;
    top : 0;
    left : 90%;
    animation: slideInUp ease-in .7s;
    transition: all .1s;
}
a.fork img:hover {
    transform: scale(1.1);
}
a.fork img:active {
    transform: translateY(2px);
}
@media only screen and (max-width :1150px){
    a.fork img {
        left : 87%;
    }
}

@media only screen and (max-width :920px){
    a.fork img {
        left : 85%;
    }
    img.carbon {
        width : 70%;
    }
}
@media only screen and (max-width : 768px ){
    a.fork img {
        left : 80%;
    }
    .header__download-btn {
        width : 40%;
    }
    img.carbon {
        width : 85%;
    }
}
@media only screen and (max-width : 650px ){
    a.fork img {
        left : 76%;
    }
    img.carbon {
        width : 100%;
    }
    
}
@media only screen and (max-width : 500px ){
    a.fork img {
        left : 70%;
    }
    
}
@media only screen and (max-width : 480px ){
    a.fork img {
        left : 66%;
    }
    .header__download-btn {
        width : 60%;
    }
}

@keyframes slideInUp {
    0% {
        opacity : 0;
        transform: translateY(-100%);
    }
    50% {
        opacity : .5;
        transform: translateY(-50%);
    }
    100% {
        opacity : 1;
        transform: translateY(0);
    }
}


