@mixin clearfix {
    &::after {
        content : '';
        display: table;
        clear : both;
    } 
}

@mixin tablet {
    @media only screen and (max-width : #{$tablet}){
      @content
    }
}

//  Small devices (landscape-phones, 576px and down)
// @media (max-width: 576px) { 
//     $gutter-horizontal : 2rem;
//  }

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) { }

// Extra large devices (large-desktops, 1200px and down)
@media (max-width: 1200px) { }