
$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;


// GRID

$grid-width : 114rem;
$gutter-vertical : 8rem;


$gutter-horizontal : 6rem;
$gutter-horizontal-tablet : 2rem;


// SCREEN WIDTHS FOR MEDIA QUERIES 

$small-phone : 480px;
$landscape-phone : 576px;
$tablet : 768px;
$desktop : 992px;
$large-desktop : 1200px;


