h2 {
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin-bottom: 40px;
    
}

.container {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    width : 50%;
    margin : 0 auto;
    font-family: 'Segoe UI';


}

button {
    font-size: 22px;
    border : none;
    border-radius: 70px;
    padding : .5rem 1rem;
    cursor: pointer;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    color: white;

}

button:focus{
    outline: none;

}

button:hover{
    background-color: aliceblue;
    color : grey;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin : 0 auto;
    width : 50%;
    display: block;
}


.quote-img {
    border-radius: 70px;
    height : 10rem;
    
}
#quote-text {
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 1.5rem;
    display : inline-block;
    justify-self: center;

}
