.heading-primary {
    color : $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: slideInLeft ease-in 1.2s;
    
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: slideInRight ease-in 1.2s;
    }
}

body {
    font-family: 'Lato','sans-serif','segoe ui';
    font-weight: 400;
    line-height: 1.7;
    color : $color-grey-dark;
    padding : 3rem;
    text-rendering: optimizeLegibility;
}