
$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;


// GRID

$grid-max-width : 114rem;
$gutter-vertical : 4rem;

$gutter-horizontal : 5rem;
$gutter-horizontal-tablet : 2rem;

// SCREEN WIDTHS FOR MEDIA QUERIES

$small-phone : 480px;
$landscape-phone : 576px;
$tablet : 768px;
$desktop : 992px;
$large-desktop : 1200px;


